{
    "presets": [
        [
            "env",
            {
            "modules": false
            }
        ],
        
    ],
    "plugins": [
        [
            "transform-runtime",
            {
              "polyfill": true
            }
        ],
        ["component", 
           [
            {
              "libraryName": "element-ui",
              "styleLibraryName": "theme-chalk"
            }
          ]
        ]
    ]
}